<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- SGECA CONEXION PARA DESARROLLO -->
  <connectionStrings>
    <add name="cadenaConexion" connectionString="server=localhost;User Id=sgeca;database=facturador;allow zero datetime=yes;Allow User Variables=True;respect binary flags=false;" providerName="MySql.Data.MySqlClient" />
    <add name="Antenas" connectionString="server=localhost;User Id=sgeca;database=antenas;allow zero datetime=yes;Allow User Variables=True;respect binary flags=false;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!--
            La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows" />
    <!--
            La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <!--<sessionState allowCustomSqlDatabase="true" mode="SQLServer" sqlConnectionString="Server=localhost;Database=ASPState;User ID=ASPState;Password=ASPState" timeout="1440" />-->
    <sessionState timeout="1440" />
    <customErrors mode="Off" />
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
        Information Services 7.0.  No es necesaria para la versión anterior de IIS.
  -->
  <appSettings>
    <!--
        0 = Debug
        1 = Informativo
        2 = Advertencia
        3 = Critico
    -->
    <add key="NivelLog" value="1" />
    <add key="HabilitaLog" value="1" />
    <add key="DiasLog" value="7" />
    <add key="RutaLog" value="E:\SGECA\log" />
    <add key="documentoxml" value="E:\Factura Electronica\wsfe" />
    <add key="archivoconsulta" value="E:\Factura Electronica\wsfe" />
    <add key="tiempoespera" value="25000" />
    <add key="cantidadItems" value="30" />
    <!--En milisegundos-->
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.Webforms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>